.container-fluid, alert, alert-danger {
    margin : 0;
    border: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #183a1d;
}

a.nav-link {
    color: #e1eedd;
}

a.navbar-brand {
    color: #e1eedd;
}

a.nav-link.current {
    background-color: #e1eedd;
    color:#183a1d;
}

.navbar-toggler-icon  {
    color: #e1eedd;
    width: 100%;
    height:100%;
}

.container-choice {
    height:100vh;

    background: url('https://cdn.pixabay.com/photo/2017/12/22/05/58/directory-3033061_1280.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.sun-media {
    
    height:33vh;

    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 50%;
}

.snow-media {
    
    height:33vh;

    background: url('https://images.unsplash.com/photo-1594308063917-a431bc9bceff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 50%;
}

.jumbotron {
    
    background-color: rgba(0, 0, 0, 0);
}



