.container-fluid, alert, alert-danger {
    margin : 0;
    border: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #183a1d;
}

a.nav-link {
    color: #e1eedd;
}

a.navbar-brand {
    color: #e1eedd;
}

a.nav-link.current {
    background-color: #e1eedd;
    color:#183a1d;
}

.navbar-toggler-icon  {
    color: #e1eedd;
    width: 100%;
    height:100%;
}


