.container-fluid, alert, alert-danger {
    margin : 0;
    border: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #2b6777;
}

a.nav-link {
    color: #e1eedd;
}

a.navbar-brand {
    color: #e1eedd;
}

a.nav-link.current {
    background-color: #e1eedd;
    color:#183a1d;
}

.navbar-toggler-icon  {
    color: #e1eedd;
    width: 100%;
    height:100%;
}

.choice-question {
    color:#e1eedd;
}

.container-choice {
    height:100vh;

    background: url('https://cdn.pixabay.com/photo/2017/12/22/05/58/directory-3033061_1280.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.sun-media {
    
    height:33vh;

    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10%;
}

.snow-media {
    
    height:33vh;

    background: url('https://cdn.pixabay.com/photo/2021/01/09/20/23/road-5903402__340.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10%;
}

.jumbotron {
    height:100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.container {
  overflow: hidden;
}

/*button styles*/

#myBtnContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: #2b6777;
  cursor: pointer;
  color: #e1eedd;
}

.btn:hover {
  background-color: #15b3bb;
}

.btn:active {
  background-color: #1e4853;
  color: #e1eedd;
}

.btn:focus {
    background-color: #1e4853;
}

/*For shadow and opacity on choices*/

#sun-1, #snow-1{
   -moz-box-shadow: 3px 3px 4px #000; 
   -webkit-box-shadow: 3px 3px 4px #000; 
   box-shadow: 3px 3px 4px #000; 
}

.snow-card, .sun-card {
    float: left;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 1px 1px 0px 1px solid #2b6777 ;
}

/*styling divs to look like cards*/

#card0, #card1, #card2, #card3, #card4, #card5 {
    float: left;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 1px 1px 0px 1px solid #2b6777 ;    
    background-color: #2b6777;
    color: #e1eedd;
    width: 33vh;
}

.card-body {
    background-color: #2b6777;
    color: #e1eedd;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


